h1{
  text-align: center;
}

h2{
  text-align: center;
  text-decoration: underline;
}

body{
  background-color: #5468ff;
  font-family: sans-serif;
}

div.centerpage{
  margin-left: auto;
  margin-right: auto;
  width:80%;
  height: 85vh;
  display: flex;
}

div.todoform{
  height: 100%;
  width: 40%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: flex;
  align-items: center;
}

div.todolist{
  margin-left: auto;
  margin-right: auto;
  width:58%;
  height: 100%;
  position: relative;
  position: relative;
  display: flex;
}

div.addform{
  width:100%;
  height: 35%;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: larger;
  background-color: #F5F5F5;
}

button.createB{
  font-weight: bold;
  width: 70%;
  height: 50px;
  font-size: 36px;
  border: 3px solid black;
}

input[type="text"]{
  width:90%;
  border: 1px solid black;
  height: 40px;
  font-size: 30px;
}

div.ltitle{
  width:100%;
  height: 10%;
  border: 1px solid black;
  position: absolute;
  top: 0px;
}

div.listbody{
  position: absolute;
  top: 10%;
  width:100%;
  height: 90%;
  overflow-y: scroll;
  border: 1px solid black;
}

ul{
  list-style-type: none;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

li{

}

li > div{
  width:98%;
  height: 50px;
  border: 1px solid black;

}
